<wicket:panel xmlns:wicket="http://wicket.apache.org">

    <div class="tabbable tabs-left" style="margin-right: 0; border-right: 0;">
        <ul class="nav nav-tabs" style="margin-right: 0; border-right: 0;" wicket:id="tabs-container">
            <li wicket:id="tabs">
                <a data-toggle="tab" href="#" wicket:id="link"><span wicket:id="title">[tab title]</span></a>
            </li>
        </ul>
        <div class="tab-content" style="min-height: 100%; padding-left: 20px; border-left: 1px solid #ddd;">
            <div wicket:id="panel" class="tab-pane active">[tab]</div>
        </div>
    </div>

</wicket:panel>