<html xmlns:wicket="http://git-wip-us.apache.org/repos/asf/wicket/repo?p=wicket.git;a=blob_plain;f=wicket-core/src/main/resources/META-INF/wicket-1.5.xsd">
<wicket:panel>

    <!-- START PORTLET -->
    <div class="portlet light ">
        <div class="portlet-title tabbable-line">
            <div class="caption caption-md">
                <span class="caption-subject bold uppercase font-red-sunglo"><wicket:message key="feed.panel.title"/></span>
                <span class="caption-helper"><wicket:message key="feed.panel.subtitle"/></span>
            </div>
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab_1_1" data-toggle="tab"><wicket:message key="feed.panel.tab.instance.title"/>
                </a></li>
                <li class=""><a href="#tab_1_2" data-toggle="tab"><wicket:message key="feed.panel.tab.task.title"/>
                </a></li>
            </ul>
        </div>
        <div class="portlet-body">
            <!-- BEGIN TABS -->
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1_1">
                    <div class="scroller"
                         style="height: 337px; overflow: hidden; width: auto;"
                         data-always-visible="1" data-rail-visible="1"
                         data-handle-color="#D7DCE2" data-initialized="1">
                        <ul class="feeds" wicket:id="atividades">
                            <li>
                                <div class="col1">
                                    <div class="cont">
                                        <div class="cont-col1">
                                            <div class="label label-sm " wicket:id="feedIconColor">
                                                <i wicket:id="icon"></i> <!-- Deve ser mudado pelo wicket -->
                                            </div>
                                        </div>
                                        <div class="cont-col2">
                                            <div class="desc">
                                                <label wicket:id="descricao"></label>
                                            </div>
                                            <!-- Aqui ficaria a parte do icone lateral de sugestao de acao -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col2">
                                    <div class="date">
                                        <label wicket:id="tempoDeAtraso"></label>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tab-pane" id="tab_1_2">
                    <div class="scroller"
                         style="height: 337px; overflow: hidden; width: auto;"
                         data-always-visible="1" data-rail-visible="1"
                         data-handle-color="#D7DCE2" data-initialized="1">
                        <wicket:message key="feed.panel.tab.content.empty"/>
                    </div>
                </div>
            </div>
            <!-- END TABS -->
        </div>
    </div>
    <!-- END PORTLET -->

</wicket:panel>
</html>