<html xmlns:wicket="http://git-wip-us.apache.org/repos/asf/wicket/repo?p=wicket.git;a=blob_plain;f=wicket-core/src/main/resources/META-INF/wicket-1.5.xsd">
<wicket:panel>

    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <span class="caption-subject bold uppercase font-red-sunglo" wicket:id="title"></span>
                <span class="caption-helper" wicket:id="subtitle"></span>
            </div>
            <div class="actions">
                <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="#" data-original-title="" title=""></a>
            </div>
        </div>
        <div class="portlet-body">
            <div wicket:id="chart-div" class="animated-pie-chart" ></div>
        </div>
    </div>

</wicket:panel>
</html>