<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
                           http://www.springframework.org/schema/util
                           http://www.springframework.org/schema/util/spring-util.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">
    
    <util:properties id="singularAdmin" location="${FLOW_BAM_CONFIG}"/>
    <context:property-placeholder properties-ref="singularAdmin"/>
    
    <import resource="conf/adminDefault.xml"/>

    <beans profile="production,development">
        <import resource="${FLOW_BAM_SECURITY}"/>

        <bean id="singularFormConfig" class="br.net.mirante.singular.form.wicket.SingularFormConfigWicketImpl">
            <property name="serviceRegistry" ref="springServiceRegistry"/>
        </bean>

        <bean id="springServiceRegistry" class="br.net.mirante.singular.form.spring.SpringServiceRegistry"/>

        <bean id="singularFormContext" class="br.net.mirante.singular.form.wicket.SingularFormContextWicketImpl"
              factory-bean="singularFormConfig" factory-method="createContext">
        </bean>
    </beans>

</beans>
