<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">
    <import resource="conf/adminDefault.xml"/>

    <beans profile="production,development">
        <import resource="${springsecurity.conf}"/>

        <bean id="singularFormConfig" class="br.net.mirante.singular.form.wicket.SingularFormConfigWicketImpl">
            <property name="serviceRegistry" ref="springServiceRegistry"/>
        </bean>

        <bean id="singularFormContext" class="br.net.mirante.singular.form.wicket.SingularFormContextWicketImpl"
              factory-bean="singularFormConfig" factory-method="getContext">
        </bean>
    </beans>

</beans>
