//Component colors

$color-primary: #40BAA7;
$color-primary-bg: #FDFDFD;
$color-button: #65697C;
$color-text: #65697C;
$color-background-button: #D5D9E3;
$color-background-cancel-button: #EDEFF3;
$color-success-green: #5AB879;

$color-grey-01: darken(#FAFBFC, 5%);
$color-grey-03: darken(#BBBFCD, 5%);

$color-grey-05: hsl(0, 0, 50%);
$color-grey-07: hsl(0, 0, 75%);
$color-grey-09: darken(#3B3F51, 5%);

$color-gray-default: #65697c;


//Others variables

$brand-primary: $color-primary;
$header-bg-color: #FFFFFF;
$input-focus-color: $color-primary;
$table-striped-bg-color: $color-primary-bg;
$table-hover-color: rgba(74, 74, 74, 0.08);
$bg-color: #e8e9f0;
$brand-logo-url: "/singular-static/resources/singular/img/logo_singular.png";
$brand-logo-width: 200px;
$brand-logo-height: 49px;
$page-header-border-top: 0px solid $color-primary;
