<html xmlns:wicket="http://git-wip-us.apache.org/repos/asf/wicket/repo?p=wicket.git;a=blob_plain;f=wicket-core/src/main/resources/META-INF/wicket-1.5.xsd">
<wicket:extend>
    <div wicket:id="feedback"></div>


	<div class="table-scrollable">
        <table wicket:id="form-list"></table>
    </div>
    <wicket:fragment wicket:id="breadcrumbForm">
        <li>
            <a href="#">
                <wicket:message key="breadcrumb.form"/>
            </a><i class="fa fa-circle"></i>
        </li>
        <li class="active">
            <wicket:message key="breadcrumb.form"/>
        </li>
    </wicket:fragment>
    <form wicket:id="parametersForm">
	    <div wicket:id="parametersModal">
	    	<label wicket:id="formLabelName" ></label>
	        <div class="table-scrollable">
		        <table wicket:id="parameters-list"></table>
		    </div>
	    </div>
    </form>
    <div wicket:id="previewModal" class="portlet-body form">
    	<label wicket:id="previewName" ></label>
    	<div class="form-body" wicket:id="generated"></div>
    </div>
</wicket:extend>
</html>
