body {
  background-color: #f2f2f2; }

a {
  color: #508450; }
  a:hover {
    color: #519951; }

.page-header.navbar .page-logo .logo-default {
  background-image: url("/singular-static/resources/singular/img/logo-anvisa.png");
  width: 200px;
  height: 30px; }

.page-header.navbar {
  background: #f9f9f9;
  border-bottom: 1px solid #e9ecf3; }

.page-header.navbar .menu-toggler {
  opacity: 1;
  position: relative;
  display: inline-block;
  width: 1.25em;
  height: 1.2em;
  margin-right: 0.3em;
  border-top: 0.2em solid #508450;
  border-bottom: 0.2em solid #508450; }
  .page-header.navbar .menu-toggler:hover {
    opacity: 0.6; }

.page-header.navbar .menu-toggler:before {
  content: "";
  position: absolute;
  top: 0.4em;
  left: 0px;
  width: 100%;
  border-top: 0.2em solid #508450; }

.form-actions .send-btn, .btn {
  background-color: #508450;
  border: 1px solid transparent; }

.btn-add {
  background-color: transparent;
  border-color: #508450;
  color: #508450; }
  .btn-add:hover, .btn-add:focus {
    background-color: #508450;
    border-color: #508450;
    color: #fff; }

.form-control:focus {
  border-color: #508450; }

.twitter-typeahead .fa.fa-chevron-down {
  color: #508450; }

.page-sidebar {
  background-color: #ffffff; }

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a, .page-sidebar .page-sidebar-menu > li:hover > a, .page-sidebar .page-sidebar-menu > li.open > a {
  background-color: #f2f2f2; }

.list-detail-input .headers {
  background-color: #dfdfdf; }

.list-detail-input .table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #e4efe4; }

.list-detail-input .table-hover > tbody > tr > td:hover, .list-detail-input .table-hover > tbody > tr > th:hover, .list-detail-input .table-hover > tbody > tr:hover > td, .list-detail-input .table-hover > tbody > tr:hover > th {
  background-color: #d4e5d4; }

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: #f2f2f2; }

.tt-input[readonly] {
  background-color: #fff; }

.upload-panel-body .list-detail-empty {
  background-color: #f2f2f2; }

.list-detail-empty {
  background-color: rgba(74, 74, 74, 0.04); }

.upload-list-item .list-item-progress .progress-bar {
  background-color: #508450; }

.upload-list-container ul li:nth-child(even) {
  background-color: #e4efe4; }

.form-actions .cancel-btn {
  background-color: #e0e0e0; }

.page-footer {
  background-color: #f9f9f9; }
