body {
  background-color: #F2F2F2; }

a {
  color: #508450; }
  a:hover {
    color: #519951; }

.page-header.navbar .page-logo .logo-default {
  background-image: url("/singular-static/resources/singular/img/logo-anvisa.png");
  width: 200px;
  height: 30px; }

.page-header.navbar {
  background: #F9F9F9;
  border-bottom: 1px solid #e9ecf3; }

.form-actions .send-btn, .btn {
  background-color: #508450;
  border: 1px solid transparent; }

.form-control:focus {
  border-color: #508450; }

.twitter-typeahead .fa.fa-chevron-down {
  color: #508450; }

.page-sidebar {
  background-color: #FFFFFF; }

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a, .page-sidebar .page-sidebar-menu > li:hover > a, .page-sidebar .page-sidebar-menu > li.open > a {
  background-color: #F2F2F2; }

.list-detail-input .headers {
  background-color: #dfdfdf; }

.list-detail-input .table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #e4efe4; }

.list-detail-input .table-hover > tbody > tr > td:hover, .list-detail-input .table-hover > tbody > tr > th:hover, .list-detail-input .table-hover > tbody > tr:hover > td, .list-detail-input .table-hover > tbody > tr:hover > th {
  background-color: #d4e5d4; }

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: #F2F2F2; }

.list-detail-empty {
  background-color: #F2F2F2; }

.form-actions .cancel-btn {
  background-color: #e0e0e0; }

.page-footer {
  background-color: #F9F9F9; }
