<html xmlns:wicket="http://git-wip-us.apache.org/repos/asf/wicket/repo?p=wicket.git;a=blob_plain;f=wicket-core/src/main/resources/META-INF/wicket-1.5.xsd">
<wicket:extend>
	<div wicket:id="feedback" class="row" />
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="portlet-body">
                    <img wicket:id="tabImage" style="width: 100%; max-height: 100%;"/>
                    <div class="table-scrollable">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th><wicket:message key="label.table.column.task"/></th>
                                <th><wicket:message key="label.table.column.type"/></th>
                                <th><wicket:message key="label.table.column.executor"/></th>
                                <th><wicket:message key="label.table.column.transaction"/></th>
                                <th><wicket:message key="label.table.column.parameter"/></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr wicket:id="metadatasRow">
                                <td wicket:id="metadatasCol">
                                    <wicket:container wicket:id="metadataLabel"/>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <wicket:fragment wicket:id="parameterFragment">
        <span wicket:id="parameterLabel" class="label label-sm"></span>
    </wicket:fragment>
    <wicket:fragment wicket:id="todoBreadcrumb">
		<li><a wicket:id="breadcrumbLink"></a></li>
	</wicket:fragment>
</wicket:extend>
</html>
