$color-primary: #40BAA7;
$brand-primary: $color-primary;
$color-primary-bg: #FDFDFD;
$header-bg-color: #FFFFFF;
$input-focus-color: $color-primary;
$table-striped-bg-color: $color-primary-bg;
$table-hover-color: rgba(74, 74, 74, 0.08);
$bg-color: #e8e9f0;
$brand-logo-url: "/singular-static/resources/singular/img/logo_singular.png";
$brand-logo-width: 200px;
$brand-logo-height: 49px;
