<html xmlns:wicket="http://wicket.apache.org">
<wicket:extend>
    <form wicket:id="form">
        <div wicket:id="singularFormPanel" class="form-body"></div>
        <br/>
        <div class="form-actions">
            <wicket:fragment wicket:id="buttons">
                <input type="button" class="btn" wicket:id="button"/>
            </wicket:fragment>
        </div>
        <div wicket:id="viewXmlModal" class="portlet-body form">
            <div wicket:id="xmlCodes"></div>
        </div>
    </form>
</wicket:extend>
</html>