<html xmlns:wicket="http://git-wip-us.apache.org/repos/asf/wicket/repo?p=wicket.git;a=blob_plain;f=wicket-core/src/main/resources/META-INF/wicket-1.5.xsd">
<wicket:panel>
    <div class="page-sidebar-wrapper">
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <div class="page-sidebar md-shadow-z-2-i  navbar-collapse collapse">
            <!-- BEGIN SIDEBAR MENU -->
            <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
            <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
            <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
            <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
            <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
            <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
            <ul class="page-sidebar-menu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                <li id="_menuItemHome" class="start">
                    <a wicket:id="dashboard">
                        <i class="icon-home"></i>
                        <span class="title"><wicket:message key="main.menu.dashboard"/></span>
                    </a>
                </li>
                <li id="_menuSubFlow">
                    <a href="javascript:">
                        <i class="icon-folder"></i>
                        <span class="title"><wicket:message key="main.menu.flow"/></span>
                        <span class="arrow "></span>
                    </a>
                    <ul class="sub-menu">
                        <li id="_menuItemFlowProcess">
                            <a wicket:id="process">
                                <i class="icon-list"></i>
                                <span class="badge badge-danger"><wicket:message key="label.tag.new"/></span>
                                <wicket:message key="main.menu.flow.definitions"/>
                            </a>
                        </li>
                    </ul>
                </li>
                <wicket:container wicket:id="categoriesContainer"/>
            </ul>
            <!-- END SIDEBAR MENU -->
        </div>
    </div>
</wicket:panel>

<wicket:fragment wicket:id="categoriesFragment">
    <li wicket:id="categories">
        <a href="javascript:">
            <i class="icon-notebook"></i>
            <span wicket:id="categoryLabel" class="title"></span>
            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li wicket:id="definitions">
                <a wicket:id="link">
                    <i class="icon-grid"></i>
                    <span wicket:id="counter" class="badge badge-info"></span>
                    <wicket:container wicket:id="definitionLabel"/>
                </a>
            </li>
        </ul>
    </li>

</wicket:fragment>
</html>