<html xmlns:wicket="http://git-wip-us.apache.org/repos/asf/wicket/repo?p=wicket.git;a=blob_plain;f=wicket-core/src/main/resources/META-INF/wicket-1.5.xsd">
<wicket:panel>
    <ul class="nav navbar-nav pull-right">

        <li class="dropdown dropdown-user">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <span wicket:id="nome" class="username username-hide-on-mobile">
                         </span>
                <!-- DOC: Do not remove below empty space(&nbsp;) as its purposely used -->
                <img wicket:id="codrh" alt="" class="img-circle" />
            </a>
            <ul class="dropdown-menu dropdown-menu-default">
                <li>
                    <a href="#">
                        <i class="icon-key"></i> Log Out </a>
                </li>
            </ul>
        </li>
        <!-- END USER LOGIN DROPDOWN -->
        <!-- BEGIN USER LOGIN DROPDOWN -->
        <li wicket:id="sideBarToggle" class="dropdown dropdown-extended quick-sidebar-toggler">
            <span class="sr-only"></span>
            <i class="icon-logout"></i>
        </li>
        <!-- END USER LOGIN DROPDOWN -->
    </ul>
</wicket:panel>
</html>