<html xmlns:wicket="http://wicket.apache.org">
<wicket:extend>
    <div class="portlet light">
        <div class="portlet-body form">
            <form wicket:id="save-form">
                <div wicket:id="singular-panel"></div>
                <div class="form-actions noborder">
                    <button type="submit" class="btn purple" wicket:id="send-btn">
                        <wicket:message key="label.button.send"/>
                    </button>
                    <button type="submit" class="btn blue" wicket:id="save-btn">
                        <wicket:message key="label.button.save"/>
                    </button>
                    <button type="submit" class="btn blue" wicket:id="save-annotation-btn">
                        <wicket:message key="label.button.save"/>
                    </button>
                    <wicket:container wicket:id="custom-buttons"/>
                    <button type="submit" class="btn yellow" wicket:id="save-whitout-validate-btn">
                        <wicket:message key="label.button.save.whitout.validate"/>
                    </button>
                    <button type="submit" class="btn red" wicket:id="validate-btn">
                        <wicket:message key="label.button.validate"/>
                    </button>
                    <button type="submit" class="btn" wicket:id="cancel-btn" onclick="window.close()">
                        <wicket:message key="label.button.cancel"/>
                    </button>

                </div>

                <div wicket:id="enviar-modal" class="portlet-body form">
                    <wicket:message key="label.confirm.message"/>
                </div>

                <div wicket:id="flow-modal" class="portlet-body form">
                    <div wicket:id="flow-msg"/>
                </div>
            </form>
        </div>
    </div>
</wicket:extend>
</html>