$color-primary: #508450;
$brand-primary: $color-primary;
$color-primary-bg: #eafaed;
$header-bg-color: #FFFFFF;
$input-focus-color: $color-primary;
$table-striped-bg-color: $color-primary-bg;
$table-hover-color: rgba(74, 74, 74, 0.08);
$bg-color: #ECECEA;
$brand-logo-url: '/singular-static/resources/anvisa/img/logo-anvisa.png';
$brand-logo-width: 200px;
$brand-logo-height: 30px;