<html xmlns:wicket="http://wicket.apache.org">
<wicket:extend>
    <div class="portlet light">
        <div class="portlet-body form">
            <div class="row">
                <form wicket:id="form">
                    <div class="col-md-4">
                        <a class="btn" wicket:id="_botoes"></a>
                        <div wicket:id="_novos"></div>
                    </div>
                    <div class="form-group col-md-4 col-md-offset-4">
                        <div class="input-group">
                            <input type="text" wicket:id="filtroRapido" class="form-control"
                                   wicket:message="placeholder:label.filtro.rapido">

                            <div class="input-group-btn">
                                <button class="btn" wicket:id="pesquisar">
                                    <span class="glyphicon glyphicon-search"/>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="dataTables_wrapper no-footer table-responsive">
                <table wicket:id="tabela"></table>
            </div>
        </div>
    </div>

    <form wicket:id="deleteForm">
        <div wicket:id="deleteModal" class="portlet-body form">
            <wicket:message key="label.delete.message"/>
        </div>
    </form>
</wicket:extend>
</html>