<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-4.2.xsd">

    <context:component-scan base-package="org.opensingular.singular"/>
    <import resource="conf/database.xml"/>

    <bean id="formService" class="org.opensingular.form.service.FormService" />
    <bean id="formDAO" class="org.opensingular.form.persistence.dao.FormDAO" />
    <bean id="formVersionDAO" class="org.opensingular.form.persistence.dao.FormVersionDAO" />
    <bean id="formAnnotationDAO" class="org.opensingular.form.persistence.dao.FormAnnotationDAO" />
    <bean id="formAnnotationVersionDAO" class="org.opensingular.form.persistence.dao.FormAnnotationVersionDAO" />
    <bean id="formTypeDAO" class="org.opensingular.form.persistence.dao.FormTypeDAO" />
</beans>
