<html xmlns:wicket="http://git-wip-us.apache.org/repos/asf/wicket/repo?p=wicket.git;a=blob_plain;f=wicket-core/src/main/resources/META-INF/wicket-1.5.xsd">
<wicket:panel>
    <div class="page-footer">
        <div class="page-footer-inner">
            <wicket:message key="footer.product.copyright"/>
            <a wicket:id="ownerLink" target="_blank">
                <wicket:message key="footer.product.owner"/>
            </a>
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>
</wicket:panel>
</html>