<html xmlns:wicket="http://wicket.apache.org">
<wicket:panel>
    <div class="panel-body">
        <h4 wicket:id="header">
            <p wicket:id="description"></p>
        </h4>
        <hr/>
        <form wicket:id="save-form">
            <div class="form-body">
                <div wicket:id="feedback" class="alert alert-danger" role="alert"></div>
                <div class="form-body" wicket:id="generated"></div>
                <div wicket:id="body-container"></div>
            </div>
            <br/>
            <div class="form-actions">
                <wicket:fragment wicket:id="buttons">
                    <input type="button" class="btn" wicket:id="button"/>
                </wicket:fragment>
            </div>
            <div wicket:id="viewXmlModal" class="portlet-body form">
                <div wicket:id="xmlCodes"></div>
            </div>
        </form>
        <hr/>
        <wicket:fragment wicket:id="codes"/>
    </div>
</wicket:panel>
</html>
