<html xmlns:wicket="http://wicket.apache.org">
<wicket:extend>
    <form wicket:id="showCaseForm">
        <div class="col-md-3">
            <div wicket:id="showCaseMenu"></div>
        </div>
        <div class="col-md-9" wicket:id="showCaseItemDetailContainer">
            <div wicket:id="showCaseItemDetail"></div>
        </div>
    </form>
    <wicket:fragment wicket:id="breadcrumbShowCase">
        <li>
            <a wicket:id="breadcrumbShowCaseLink">
                <wicket:message key="breadcrumb.showcase"/>
            </a><i class="fa fa-circle"></i>
        </li>
        <li class="active">
            <wicket:message key="breadcrumb.showcase.menu"/>
        </li>
    </wicket:fragment>
</wicket:extend>
</html>
