<html xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
    <div class="panel-group" wicket:id="menu">
        <div wicket:id="accordionMenu" class="panel-group accordion">
            <div wicket:id="itemMenuBorder" class="panel panel-default">
                <ul class="ver-inline-menu tabbable margin-bottom-10" wicket:id="itensContainer">
                    <li wicket:id="itens">
                        <a wicket:id="itemAnchor">
                            <i class="fa fa-code"></i> <span wicket:id="itemLabel"></span> </a>
                        <span class="after"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</wicket:panel>
</body>
</html>