<html xmlns:wicket="http://git-wip-us.apache.org/repos/asf/wicket/repo?p=wicket.git;a=blob_plain;f=wicket-core/src/main/resources/META-INF/wicket-1.5.xsd">
<wicket:extend>
    <div class="portlet light">
        <div class="portlet-body">
            <div class="row">
                <div class="col-md-3">
                    <ul class="ver-inline-menu tabbable margin-bottom-10">
                        <li class="active">
                            <a aria-expanded="true" data-toggle="tab" href="#tab_input"> <i class="fa fa-code"></i> Campo </a>
                            <span class="after"></span>
                        </li>
                        <li class="">
                            <a aria-expanded="false" data-toggle="tab" href="#tab_panel"> <i class="icon-frame"></i> Painel </a>
                        </li>
                        <li class="">
                            <a aria-expanded="false" data-toggle="tab" href="#tab_chart"> <i class="icon-bar-chart"></i> Gráfico </a>
                        </li>
                        <li class="">
                            <a aria-expanded="false" data-toggle="tab" href="#tab_message"> <i class="icon-speech"></i> Mensagem </a>
                        </li>
                        <li class="">
                            <a aria-expanded="false" data-toggle="tab" href="#tab_file"> <i class="icon-cloud-upload"></i> Arquivo </a>
                        </li>
                        <li class="">
                            <a aria-expanded="false" data-toggle="tab" href="#tab_validation"> <i class="icon-check"></i> Validação </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-9">
                    <div class="tab-content">
                        <div id="tab_input" class="tab-pane active">
                            <div id="accordion1" class="panel-group">
                                <div class="panel panel-warning">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a aria-expanded="false" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_1">
                                                1. Componente 01
                                            </a>
                                        </h4>
                                    </div>
                                    <div style="height:0;" aria-expanded="false" id="accordion1_1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Descrição do componente 01...
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-danger">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a aria-expanded="false" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_2">
                                                2. Componente 02
                                            </a>
                                        </h4>
                                    </div>
                                    <div aria-expanded="false" id="accordion1_2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Descrição do componente 02...
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a aria-expanded="false" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_3">
                                                3. Componente 03
                                            </a>
                                        </h4>
                                    </div>
                                    <div aria-expanded="false" id="accordion1_3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Descrição do componente 03...
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a aria-expanded="false" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_4">
                                                4. Componente 04
                                            </a>
                                        </h4>
                                    </div>
                                    <div aria-expanded="false" id="accordion1_4" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Descrição do componente 04...
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab_panel" class="tab-pane">
                            <div id="accordion2" class="panel-group">
                                <div class="panel panel-warning">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a aria-expanded="false" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#accordion2_1">
                                                1. Componente 01
                                            </a>
                                        </h4>
                                    </div>
                                    <div style="height:0;" aria-expanded="false" id="accordion2_1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Descrição do componente 01...
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-danger">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a aria-expanded="false" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#accordion2_2">
                                                2. Componente 02
                                            </a>
                                        </h4>
                                    </div>
                                    <div aria-expanded="false" id="accordion2_2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Descrição do componente 02...
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a aria-expanded="false" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#accordion2_3">
                                                3. Componente 03
                                            </a>
                                        </h4>
                                    </div>
                                    <div aria-expanded="false" id="accordion2_3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Descrição do componente 03...
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a aria-expanded="false" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#accordion2_4">
                                                4. Componente 04
                                            </a>
                                        </h4>
                                    </div>
                                    <div aria-expanded="false" id="accordion2_4" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Descrição do componente 04...
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab_chart" class="tab-pane">
                            <div id="accordion3" class="panel-group">
                                <div class="panel panel-warning">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a aria-expanded="false" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion3" href="#accordion3_1">
                                                1. Componente 01
                                            </a>
                                        </h4>
                                    </div>
                                    <div style="height:0;" aria-expanded="false" id="accordion3_1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Descrição do componente 01...
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-danger">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a aria-expanded="false" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion3" href="#accordion3_2">
                                                2. Componente 02
                                            </a>
                                        </h4>
                                    </div>
                                    <div aria-expanded="false" id="accordion3_2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Descrição do componente 02...
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a aria-expanded="false" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion3" href="#accordion3_3">
                                                3. Componente 03
                                            </a>
                                        </h4>
                                    </div>
                                    <div aria-expanded="false" id="accordion3_3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Descrição do componente 03...
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a aria-expanded="false" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion3" href="#accordion3_4">
                                                4. Componente 04
                                            </a>
                                        </h4>
                                    </div>
                                    <div aria-expanded="false" id="accordion3_4" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Descrição do componente 04...
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab_message" class="tab-pane">
                            <div id="accordion4" class="panel-group">
                                <div class="panel panel-warning">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a aria-expanded="false" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion4" href="#accordion4_1">
                                                1. Componente 01
                                            </a>
                                        </h4>
                                    </div>
                                    <div style="height:0;" aria-expanded="false" id="accordion4_1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Descrição do componente 01...
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-danger">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a aria-expanded="false" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion4" href="#accordion4_2">
                                                2. Componente 02
                                            </a>
                                        </h4>
                                    </div>
                                    <div aria-expanded="false" id="accordion4_2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Descrição do componente 02...
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a aria-expanded="false" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion4" href="#accordion4_3">
                                                3. Componente 03
                                            </a>
                                        </h4>
                                    </div>
                                    <div aria-expanded="false" id="accordion4_3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Descrição do componente 03...
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a aria-expanded="false" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion4" href="#accordion4_4">
                                                4. Componente 04
                                            </a>
                                        </h4>
                                    </div>
                                    <div aria-expanded="false" id="accordion4_4" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Descrição do componente 04...
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab_file" class="tab-pane">
                            <div id="accordion5" class="panel-group">
                                <div class="panel panel-warning">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a aria-expanded="false" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion5" href="#accordion5_1">
                                                1. Componente 01
                                            </a>
                                        </h4>
                                    </div>
                                    <div style="height:0;" aria-expanded="false" id="accordion5_1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Descrição do componente 01...
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-danger">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a aria-expanded="false" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion5" href="#accordion5_2">
                                                2. Componente 02
                                            </a>
                                        </h4>
                                    </div>
                                    <div aria-expanded="false" id="accordion5_2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Descrição do componente 02...
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a aria-expanded="false" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion5" href="#accordion5_3">
                                                3. Componente 03
                                            </a>
                                        </h4>
                                    </div>
                                    <div aria-expanded="false" id="accordion5_3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Descrição do componente 03...
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a aria-expanded="false" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion5" href="#accordion5_4">
                                                4. Componente 04
                                            </a>
                                        </h4>
                                    </div>
                                    <div aria-expanded="false" id="accordion5_4" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Descrição do componente 04...
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab_validation" class="tab-pane">
                            <div id="accordion6" class="panel-group">
                                <div class="panel panel-warning">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a aria-expanded="false" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion6" href="#accordion6_1">
                                                1. Componente 01
                                            </a>
                                        </h4>
                                    </div>
                                    <div style="height:0;" aria-expanded="false" id="accordion6_1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Descrição do componente 01...
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-danger">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a aria-expanded="false" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion6" href="#accordion6_2">
                                                2. Componente 02
                                            </a>
                                        </h4>
                                    </div>
                                    <div aria-expanded="false" id="accordion6_2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Descrição do componente 02...
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a aria-expanded="false" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion6" href="#accordion6_3">
                                                3. Componente 03
                                            </a>
                                        </h4>
                                    </div>
                                    <div aria-expanded="false" id="accordion6_3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Descrição do componente 03...
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a aria-expanded="false" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion6" href="#accordion6_4">
                                                4. Componente 04
                                            </a>
                                        </h4>
                                    </div>
                                    <div aria-expanded="false" id="accordion6_4" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Descrição do componente 04...
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <wicket:fragment wicket:id="breadcrumbShowCase">
        <li>
            <a wicket:id="breadcrumbShowCaseLink">
                <wicket:message key="breadcrumb.showcase"/>
            </a><i class="fa fa-circle"></i>
        </li>
        <li class="active">
            <wicket:message key="breadcrumb.showcase.menu"/>
        </li>
    </wicket:fragment>
</wicket:extend>
</html>
