<html xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i> <span wicket:id="header"></span>
            </div>
        </div>
        <div class="portlet-body">
            <div wicket:id="casesContainer" class="panel-group accordion">
                <wicket:fragment wicket:id="cases">
                    <div wicket:id="collapsible" class="panel panel-default">
                        <div class="panel-body">
                            <span wicket:id="htmlDescription"></span>
                        </div>
                    </div>
                </wicket:fragment>
            </div>
        </div>
    </div>
</wicket:panel>
</body>
</html>