<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption font-red-sunglo">
                <span wicket:id="title" class="caption-subject bold uppercase"></span>
            </div>
            <div class="actions">
                <div class="btn-group btn-group-devided" data-toggle="buttons">
                    <label wicket:id="quickFilterOptions"
                           class="btn btn-transparent grey-salsa btn-circle btn-sm">
                        <input type="radio" name="options" class="toggle">
                        <span wicket:id="filterLabel"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="portlet-body form">
            <div wicket:id="portletContent"/>
        </div>
    </div>
</wicket:panel>
</body>
</html>