<html xmlns:wicket="http://wicket.apache.org">
<wicket:extend>
    <div wicket:id="casesContainer" class="panel-group">
        <div class="tabbable-line boxless tabbable-reversed">
            <wicket:fragment wicket:id="cases"></wicket:fragment>
        </div>
    </div>
    <wicket:fragment wicket:id="breadcrumbShowCase">
        <li>
            <a wicket:id="breadcrumbShowCaseLink">
                <wicket:message key="breadcrumb.showcase"/>
            </a><i class="fa fa-circle"></i>
        </li>
        <li class="active">
            <wicket:message key="breadcrumb.showcase.menu"/>
        </li>
    </wicket:fragment>
</wicket:extend>
</html>
