<html xmlns:wicket="http://wicket.apache.org">
<wicket:panel>
    <div class="portlet light bordered">
        <h4 class="portlet-body">
            <p wicket:id="header">
                <span wicket:id="description"></span>
            </p>
        </h4>
    </div>
    <wicket:child/>
    <hr/>
    <div class="portlet light bordered">
        <div class="portlet-body">
            <div class="tabbable-line boxless tabbable-reversed">
                <wicket:fragment wicket:id="codes"/>
            </div>
        </div>
    </div>
</wicket:panel>
</html>