body {
  background-color: #E8E8E8; }

a {
  color: #A32829; }
  a:hover {
    color: #D10002; }

.page-header.navbar .page-logo .logo-default {
  background-image: url("/singular-static/resources/singular/img/logo-montreal.png");
  width: 170px;
  height: 40px; }

.page-header.navbar {
  background: #e1e1e1;
  border-bottom: 1px solid #e9ecf3; }

.page-header.navbar .menu-toggler {
  opacity: 1;
  position: relative;
  display: inline-block;
  width: 1.25em;
  height: 1.2em;
  margin-right: 0.3em;
  border-top: 0.2em solid #A32829;
  border-bottom: 0.2em solid #A32829; }
  .page-header.navbar .menu-toggler:hover {
    opacity: 0.6; }

.page-header.navbar .menu-toggler:before {
  content: "";
  position: absolute;
  top: 0.4em;
  left: 0px;
  width: 100%;
  border-top: 0.2em solid #A32829; }

.form-actions .send-btn, .btn {
  background-color: #A32829;
  border: 1px solid transparent; }

.form-control:focus {
  border-color: #A32829; }

.twitter-typeahead .fa.fa-chevron-down {
  color: #A32829; }

.page-sidebar {
  background-color: #FFFFFF; }

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a, .page-sidebar .page-sidebar-menu > li:hover > a, .page-sidebar .page-sidebar-menu > li.open > a {
  background-color: #F2F2F2; }

.list-detail-input .headers {
  background-color: #dfdfdf; }

.list-detail-input .table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f5d5d6; }

.list-detail-input .table-hover > tbody > tr > td:hover, .list-detail-input .table-hover > tbody > tr > th:hover, .list-detail-input .table-hover > tbody > tr:hover > td, .list-detail-input .table-hover > tbody > tr:hover > th {
  background-color: #f0c1c1; }

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: #F2F2F2; }

.tt-input[readonly] {
  background-color: #fff; }

.list-detail-empty {
  background-color: #F2F2F2; }

.upload-list-item .list-item-progress .progress-bar {
  background-color: #A32829; }

.upload-list-container ul li:nth-child(even) {
  background-color: #f5d5d6; }

.form-actions .cancel-btn {
  background-color: #e0e0e0; }

.page-footer {
  background-color: #e1e1e1; }
