//## Main Layout CSS Builder

@import '../../global/_variables'; // global metronic framework variables
@import '../../global/components/_mixins'; // global metronic framework mixings
@import '../../global/_typhography'; // fonts at project

@import '_variables'; // theme level variables

@import '../../_overrides_theme_01';

@import 'layout/_print'; // print layout

@import 'layout/annotation';
@import 'layout/_header'; // page header
@import 'layout/_page-container'; // page main container
@import 'layout/_sidebar';  // page sidebar
@import 'layout/_content'; // page consnde
@import 'layout/_footer';   // page footer
@import 'layout/_theme-panel';  // theme customizer panel
@import 'layout/_form';
@import 'layout/_upload-list';
@import 'layout/_lists';
@import 'layout/_list_by_master_detail';
@import 'layout/_list_by_table';
@import 'layout/_list_by_form';
@import 'layout/_worklist';
@import 'layout/_has-error';
@import 'layout/_fileinput';
@import 'layout/_server-error.scss';

@import '../quick-sidebar/_quick-sidebar';  // quick sidebar content

/***
Page Loading
***/

.page-on-load {
  background: #fefefe;

  .page-header,
  .page-container,
  .page-footer,
  > .clearfix {
    display: none;
    transition: all 2s;
  }
}
@import '../../pages/login';
