.list-table-input {
  margin-bottom: 15px;
}

.list-table-heading {
  margin: 1px 0 5px 0;
}

.list-table-body {
  margin-bottom: 15px;
  border-bottom: 1px solid #dfdfdf;

  thead tr th {
    color: $color-grey-03;
    text-transform: uppercase;
    font-size: 12px;
    border-bottom: 1px solid #dfdfdf !important;
  }

  td button {
    border: 0;
    padding: 0;
    background: none;
  }

  .singular-remove-btn{
    top: 5px;
    position: relative;
  }
}

.list-table-empty {
  display: block;
  background-color: $color-grey-01;
  color: $input-color-placeholder;
  vertical-align: middle;
  border: 1px dashed currentColor;
  // margin: -10px -10px -5px;

  .list-table-empty-message {
    text-align: center;
    line-height: 8px;
    height: 8px;
    font-size: 14px;
  }

  .list-table-empty-link {
    text-decoration: underline;
    color: $color-text;
    &:hover {
      color: darken($color-text, 10%);
    }
  }
}