.singular-form-required{
  position: relative;

  &::before {
    display: none;
  }

  &::after {

    content: "";
    position: absolute;
    top: calc(50% - 2px);
    width: 4px;
    height: 4px;
    display: inline-block;
    background-color: $brand-danger;
    border-radius: 50%;
    margin-left: 6px;

  }
}

.tt-input {
  &[readonly] {
    background-color: #fff;
  }
}

.twitter-typeahead {
  .fa.fa-chevron-down {
    z-index: 1;
    color: $color-primary;
  }
}

.tt-clear-icon {
  z-index: 3;
}

.has-error {
  input {
    background: url('data:image/svg+xml;utf8,#{($svg-alert)}') no-repeat calc(100% - 10px) 50%;
    background-size: 18px 18px;
    z-index: 3;
  }

  .fa.fa-chevron-down {
    display: none;
  }

  .control-label {
    color: $text-color;
  }
}

.btn-noclose {
  float: right;
  margin-left: 20px;
}

.composite-box-grid > div {
  margin: 0 0 8px 0;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid $input-border;
}

.form-actions {
  @include clearfix;
  margin: 0 0 $form-group-margin-bottom*2;
  padding: 15px 20px 20px 20px;
  background-color: #fff;
}

.form-actions .btn {

  border-radius: 4px;
  position: relative;
  background-color: white;
  border-color: $color-background-button;
  color: $color-button;
  margin-left: 20px;
  float: right;
  height: 32px;
  font-size: 12px;
  padding: 8px 20px 7px 20px;


  &:before {
    position: relative;
    content: "";
    background-repeat: no-repeat;
    background-size: 15px;
    margin-right: 10px;
    width: 15px;
    height: 15px;
    display: block;
    float: left;
  }
}

.form-actions {
  box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.03);

  .save-btn {

    &:before {
      background-image: url('data:image/svg+xml;utf8,#{($svg-save)}');
    }
  }

  .send-btn {
    background-color: $color-primary;
    border-color: $color-primary;
    color: white;

    &:before {
      background-image: url('data:image/svg+xml;utf8,#{($svg-send)}');
    }
  }

  .validate-btn {

    &:before {
      background-image: url('data:image/svg+xml;utf8,#{($svg-validate)}');
    }
  }

  .cancel-btn {
    background-color: $color-background-cancel-button;
    margin-left: 0;
    float: left;

    &::before {
      display: none;
    }
  }
}

.btn.btn-danger {
  position: relative;

  i {
    position: relative;
    top: -2px;
  }
}
