
.list-table-heading {
  margin: 1px 0 5px 0;
}

.list-table-body {
  margin-bottom: 15px;
  background-color: $color-grey-01;
  padding: 10px 10px 5px;

  .singular-remove-btn{
    top: 5px;
    position: relative;
  }
}

.list-table-empty {
  display: block;
  background-color: $color-grey-01;
  height: 30px;
  color: $input-color-placeholder;
  vertical-align: middle;
  border: 1px dashed currentColor;
  margin: -10px -10px -5px;

  .list-table-empty-message {
    text-align:center;
    line-height:30px;
    height:30px;
    font-size:14px;
  }

  .list-table-empty-link {
    text-decoration: underline;
    color: $color-text;
    &:hover {
      color: darken($color-text, 10%);
    }
  }
}

.list-detail-input {
  .table {

    td {
      border-bottom: none !important;
    }
    th {
      border-bottom: none !important;
    }
  }

  .table-hover > tbody > tr {
    > td:hover,
    > th:hover,
    &:hover > td,
    &:hover > th {
        background: darken($color-primary-bg, 2%) !important;
    }
  }


  .table-striped {
    > tbody > tr:nth-of-type(odd) {
      background-color: $color-primary-bg;
    }
  }

  .headers {
    color: $color-grey-03;
    text-transform: uppercase;
    background-color: $color-grey-01;
  }

  .action-column {
    width: 60px;
    overflow: hidden;
    display: block;
  }
}

.list-detail-body {
  margin-bottom: 15px;
}



.list-detail-remove {
  background-color: $brand-danger;
  width: 24px;
  height: 24px;
  &:hover {
    background-color: darken($brand-danger, 10%);
    color: #fff;
  }
}

.list-detail-edit {
  width: 24px;
  height: 24px;
  &:hover {
    color: #fff;
  }
}


.list-detail-empty {
  display: block;
  background-color: $color-grey-01;
  height: 30px;
  color: $input-color-placeholder;
  vertical-align: middle;
  border: 1px dashed currentColor;

  .list-detail-empty-message {
    text-align:center;
    line-height:30px;
    height:30px;
    font-size:14px;
  }

}