/***
Page container
***/

.page-container {
  	margin: 0px;
  	padding: 20px 20px 0 20px;
  	position: relative;

  	@include clearfix();

  	/* Fixed header */
	.page-header-fixed & {
		margin-top: $header-height;
	}

	/* Fixed footer for mobile */
	.page-footer-fixed.page-footer-fixed-mobile & {
		margin-bottom: 20px !important;
	}
}

@media (min-width: $screen-lg-med) { /* 1200px */
  .container {
    width: 1270px;
  }
}

@media (min-width: $screen-md-min) {  /* 992px */

	/* Page container in fixed footer */
	.page-footer-fixed .page-container {
	 	margin-bottom: 20px !important;
	}
}

@media (max-width: $screen-sm-max) { /* 991px */

	/* Page container */
	.page-container {
		margin: 0 !important;
		padding: 10px 10px 0 10px;

		.page-header-fixed.page-header-fixed-mobile & {
			margin-top: $header-height !important;
		}
	}
}

.singular-container {
  background-color: #ffffff;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 15px;
  box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.03);
}

@media (max-width: $screen-xs-max) { /* 767px */

	/* Page container */
	.page-container {
		margin: 0 !important;
		padding: 0;
	}

}

@media (max-width: $screen-xs-min) { /* 480px */

	/* Page container */
	.page-container {
		.page-header-fixed.page-header-fixed-mobile & {
  			margin-top: $header-height-xs !important;
  		}
  	}
}