.upload-list {
  color: currentColor;
  ul {
    list-style: none;
    width: 100%;
    display: block;
    padding: 0 0;
    margin: 0;
  }
}

.upload-list-item {
  @include clearfix;
  line-height: 30px;
  display: block;
  padding: 10px 0;

  .list-item-icon {
    width: 2%;
    font-size: 26px;
    display: block;
    float: left;
    .list-item-uploading {
      color: $input-color-placeholder;
    }
    .list-item-uploaded {
      color: $color-primary;
    }
  }

  .list-item-content {
    width: 26%;
    margin: 0 2%;
    height: 30px;
    float: left;
    overflow-y: hidden;
    text-overflow: ellipsis;
    color: $input-color-placeholder;
    a {
      color: $input-color;
    }
  }

  .list-item-progress {
    background-color: #e9ebf4;
    height: 10px;
    width: 60%;
    float: left;
    margin: 10px 2%;
    border-radius: 15px;
    .progress-bar {
      background-color: $color-primary;
      border-radius: 15px;
    }
  }

  .list-item-action {
    float: right;
    font-size: 26px;
    .list-action-remove {
      color: $input-color-placeholder;
      &:hover {
        color: darken($input-color-placeholder, 20%);
      }
    }
  }
}