<html xmlns:wicket="http://wicket.apache.org">
<wicket:extend>
    <div class="portlet light">
        <div class="portlet-body form">
            <form >
                <div wicket:id="singular-panel"></div>
                <div class="form-actions noborder">
                    <button type="button" class="btn" wicket:id="cancel-btn" >
                        <wicket:message key="label.button.cancel" />
                    </button>
                </div>
            </form>
        </div>
    </div>
</wicket:extend>
</html>