<html xmlns:wicket="http://wicket.apache.org">
<wicket:extend>

    <div class="portlet light">
        <div class="portlet-body form">
            <form wicket:id="prototype_form" >
                <div wicket:id="singular-panel"></div>
                <div class="form-actions noborder">
                    <button type="button" class="btn" wicket:id="save-btn" >
                        <wicket:message key="label.button.save" />
                    </button>
                    <button type="button" class="btn green" wicket:id="preview_btn" >
                        <wicket:message key="label.button.view" />
                    </button>
                    <button type="button" class="btn" wicket:id="cancel-btn" >
                        <wicket:message key="label.button.cancel" />
                    </button>
                </div>
            </form>
        </div>
    </div>

</wicket:extend>
</html>