//## Main Layout CSS Builder

@import '../../global/css/variables'; // global metronic framework variables
@import '../../global/components/mixins'; // global metronic framework mixings
@import '../../global/css/typhography'; // fonts at project

@import 'variables'; // theme level variables

@import '../../singular_variables';

@import 'layout/print'; // print layout
@import 'layout/quick_nav';
@import 'layout/annotation';
@import 'layout/header'; // page header
@import 'layout/page-container'; // page main container
@import 'layout/sidebar';  // page sidebar
@import 'layout/content'; // page consnde
@import 'layout/footer';   // page footer
@import 'layout/theme-panel';  // theme customizer panel
@import 'layout/form';
@import 'layout/upload-list';
@import 'layout/lists';
@import 'layout/list_by_master_detail';
@import 'layout/list_by_table';
@import 'layout/list_by_form';
@import 'layout/worklist';
@import 'layout/has-error';
@import 'layout/fileinput';
@import 'layout/server-error';
@import 'layout/composite_modal';

@import '../../lib/quick-sidebar/quick-sidebar';  // quick sidebar content

/***
Page Loading
***/

.page-on-load {
  background: #fefefe;

  .page-header,
  .page-container,
  .page-footer,
  > .clearfix {
    display: none;
    transition: all 2s;
  }
}

.box-advanced-filter {
  border: 1px solid $input-border;
  padding: 15px;
  background-color: lighten($input-border, 12%);
  margin-bottom: 10px;
}

@import '../../lib/pages/login';

@import "../../lib/components";