//##  Default Layout Settings
//
// Define layout element width and height.

// Header
$header-height:             				            				70px  !default; // header height on table and desktop view. default: 42px
$header-height-xs:             											($header-height * 2) !default; // header height on mobile view
$header-height-mobile:                                                  46px  !default;

$header-logo-height:                                    				17px;
$header-menu-toggler-width:                             				20px;
$header-menu-toggler-height:                             				14px;
$header-sidebar-toggler-margin:                         				($header-height - $header-menu-toggler-height - 1px) / 2 0 0 0 !default;
$header-responsive-toggler-margin:                      				($header-height - $header-menu-toggler-height) / 2 14px 0 6px !default;
$header-logo-margin:                                					($header-height - $header-logo-height) / 2 10px 0 10px !default;  // adjsut logo's margin top. default: -1px

$header-page-actions-margin:                                            17px 0 15px 10px;

$header-top-menu-general-item-padding:      							29px 12px 24px 12px !default;   // adjust top menu general elements padding. default: 15px 10px 7px 10px
$header-top-menu-general-item-padding-on-mobile:       					29px 8px 25px 8px !default;  // adjust top menu general elements padding mobile. default: 15px 10px 7px 10px

$header-top-menu-user-item-padding:         							25px 10px 18px 10px !default; // adjust top menu user bar element padding. default: 6px 0px 6px 6px
$header-top-menu-user-item-padding-on-mobile:         					25px 6px 18px 6px !default;  // adjust top menu user bar element padding on mobile. default: 6px 0px 6px 4px
$header-top-menu-language-item-padding:     							28px 12px 26px 12px !default;  // adjust top menu language bar element padding. default: 11px 1px 11px 5px
$header-top-menu-language-item-padding-on-mobile:						28px 6px 26px 6px !default;  // adjust top menu language bar element padding. default: 11px 0px 11px 4px
$header-top-menu-general-item-badge-top:                				24px !default;  // adjust top menu general elements badge top position. default: 8px
$header-top-menu-icon-font-size:                                        16px !default;

$header-top-menu-user-font-size:                                        14px !default;
$header-top-menu-user-font-weight:                                      600 !default;
$header-top-menu-user-dropdown-link-font-size:                          14px !default;
$header-top-menu-user-dropdown-link-font-weight:                        300 !default;

$header-hor-menu-general-item-padding:     								13px 10px !default;  // adjust hor menu elements padding top. default: 11px 10px
$header-hor-menu-submenu-item-padding: 				 					9px 10px !default;  // adjust hor menu elements padding top. default: 7px 10px
$header-hor-menu-submenu-item-arrow-top:                				9px;  // adjust hor menu dropdown menu's arrow. default: 9px
$header-hor-menu-search-toggler-button-padding:      					15px 22px 15px 22px !default;  // adjust hor menu elements padding top. default: 13px 22px 11px 22px
$header-hor-menu-search-button-padding:     		 					7px 20px !default;  // adjust hor menu elements padding top. default: 5px 20px
$header-hor-menu-search-input-margin:    			 					7px 0 0 0 !default;  // adjust hor menu elements padding top. default: 5px 0 0 0

// Horizontal menu font
$header-hor-menu-default-link-font-size:                                14px !default;
$header-hor-menu-default-link-font-weight:                              normal !default;
$header-hor-menu-dropdown-menu-link-font-size:                          14px !default;
$header-hor-menu-dropdown-menu-link-font-weight:                        normal !default;
$header-hor-menu-mega-menu-header-font-size:                            15px !default;
$header-hor-menu-mega-menu-header-font-weight:                          normal !default;

// Sidebar
$sidebar-width:             											235px !default; // sidebar width. default:235px
$sidebar-collapsed-width:   											54px  !default; // minimized/collapsed sidebar width. default:35px
$sidebar-collapsed-submenu-width-on-hover:								($sidebar-width - 1) !default; // sub menu width displayed on hover in collapsed sidebar mode. default:210px
$sidebar-logo-container-width:  										($sidebar-width + 30) !default; // logo container width. Normally same with sidebar-width.
$sidebar-logo-container-width-xs: 										110px !default; // logo container width in mobile portrait view. default:110px.
$sidebar-logo-container-width-xxs: 										100px !default; // logo container width in mobile landspace view. default:100px.

$sidebar-menu-link-font-size:                                           14px !default;
$sidebar-menu-link-font-weight:                                         400 !default;
$sidebar-menu-link-icon-font-size:                                      18px !default;
$sidebar-menu-link-arrow-font-size:                                     13px !default;
$sidebar-menu-sub-menu-link-icon-font-size:                             16px !default;

// Page content
$page-content-min-height:                   							600px !default; // default page content's min height. default:600px.

// Quick Sidebar
$quick-sidebar-width:                                                   320px !default;  // quick sidebar width. default: 245px;
$quick-sidebar-tab-item-padding:										15px 15px;       // quick sidebar item padding. default: 15px 15px;

$quick-sidebar-bg-color:												#21282e;
$quick-sidebar-font-color:												lighten($quick-sidebar-bg-color, 40%);

// Page footer
$page-footer-height:                                                    33px !default;

// Z-index master list
$zindex-header-fixed:                                                   9995 !default;
$zindex-header-static:                                                  9995 !default;
$zindex-quick-sidebar:                                                  9997 !default;
$zindex-quick-sidebar-full-height:										9996 !default;
$zindex-sidebar-fixed:     												10000 !default;
$zindex-footer-fixed:      												10000 !default;
$zindex-sidebar-submenu:   												2000 !default;
$zindex-go-to-top:   												    10001 !default;

//## Layout image  paths
$layout-img-path:           											'../img/' !default;
$layout-theme-img-path:           										'../../img/' !default;

// SVG's
$svg-alert: '<svg width="100%" height="100%" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;">
    <path d="M12,2C6.48,2 2,6.48 2,12C2,17.52 6.48,22 12,22C17.52,22 22,17.52 22,12C22,6.48 17.52,2 12,2ZM13,17L11,17L11,15L13,15L13,17ZM13,13L11,13L11,7L13,7L13,13Z" style="fill:#{(rgba($brand-danger, 0.99))};fill-rule:nonzero;"/>
</svg>';

$svg-send: '<svg width="100%" height="100%" viewBox="0 0 96 83" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;">
    <g transform="matrix(1,0,0,1,-745,-1751)">
        <g transform="matrix(4.16667,0,0,4.16667,0,0)">
            <path d="M178.828,439.926L201.651,430.14L178.828,420.354L178.817,427.965L195.128,430.14L178.817,432.315L178.828,439.926Z" style="fill: white ;fill-rule:nonzero;"/>
        </g>
    </g>
</svg>';

$svg-save: '<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 370.571 370.571" style="fill: #{(rgba($color-button, 0.99))} ;fill-rule:nonzero;" xml:space="preserve">
<path d="M291.785,0H0v370.571h370.571V78.787L291.785,0z M100,30h170.571v50H100V30z M270.571,340.571H100V200.286h170.571V340.571z
	 M340.571,340.571h-40V170.286H70v170.286H30V30h40v80h230.571V51.213l40,40V340.571z"/>
<g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>';

$svg-validate: '<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" xmlns:xlink="http://www.w3.org/1999/xlink" style="fill: #{(rgba($color-button, 0.99))} ;fill-rule:nonzero;" enable-background="new 0 0 512 512">
  <g>
    <g>
      <g>
        <path d="m493.6,159.7l-64.1-52.3c-8.7-7.1-21.4-5.9-28.6,2.7l-34.1,40.9v-119.8c0-11.3-9.1-20.4-20.4-20.4h-314.9c-11.3,0-20.4,9.1-20.4,20.4v449.2c0,11.3 9.1,20.4 20.4,20.4h314.8c11.3,0 20.4-9.1 20.4-20.4v-136.5l129.6-155.3c3.6-4.2 10-17.5-2.7-28.9zm-167.7,300.3h-274v-408.3h274v148.3l-100.3,120.2c-1.9,2.3-3.3,4.9-4.1,7.8l-25.4,95c-2.1,7.7 0.5,16 6.7,21 9.5,7.7 19,4.1 21.8,2.7l89.6-42.8c2.6-1.3 5-3.1 6.9-5.3l4.8-5.8v67.2zm-58.5-79l-20.4,9.8 5.8-21.6 14.6,11.8zm33.1-21.4l-32.6-26.3 151.4-181.4 32.5,26.5-151.3,181.2z"/>
        <path d="m110.7,151.1h156.5c11.3,0 20.4-9.1 20.4-20.4 0-11.3-9.1-20.4-20.4-20.4h-156.5c-11.3,0-20.4,9.1-20.4,20.4-1.42109e-14,11.2 9.1,20.4 20.4,20.4z"/>
        <path d="m261.7,233.7c0-11.3-9.1-20.4-20.4-20.4h-130.6c-11.3,0-20.4,9.1-20.4,20.4 0,11.3 9.1,20.4 20.4,20.4h130.6c11.2,0.1 20.4-9.1 20.4-20.4z"/>
      </g>
    </g>
  </g>
</svg>'
