<html xmlns:wicket="http://wicket.apache.org">
<wicket:extend>
    <div class="portlet light">
        <div class="portlet-body form">
            <form wicket:id="form">
                <div class="form-body">
                    <div class="form-group" >
                        <label wicket:id="filtroRapidoLabel"></label>
                        <input type="text" wicket:id="filtroRapido">
                    </div>
                </div>
                <div class="form-actions">
                    <input type="submit" class="btn" wicket:id="pesquisar">
                    <a class="btn blue" wicket:id="novo"></a>
                </div>
            </form>
            <div class="dataTables_wrapper no-footer">

                <table wicket:id="tabela" ></table>

            </div>
        </div>
    </div>
</wicket:extend>
</html>