<html xmlns:wicket="http://git-wip-us.apache.org/repos/asf/wicket/repo?p=wicket.git;a=blob_plain;f=wicket-core/src/main/resources/META-INF/wicket-1.5.xsd">
<wicket:extend>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-list font-blue-hoki"></i>
                        <span class="caption-subject bold font-blue-hoki uppercase" wicket:id="processNameTitle"></span> <label class="caption-helper"><wicket:message key="label.table.title"/></label>
                    </div>
                    <div class="tools">
                        <a class="collapse" href="javascript:" data-original-title="" title="">
                        </a>
                        <a class="reload" href="javascript:" data-original-title="" title="">
                        </a>
                    </div>
                    <div class="actions">
                        <a wicket:id="showDiagramButton" href="javascript:" class="btn btn-default btn-sm">
                            <i class="icon-eye"></i> <wicket:message key="label.table.header.view"/> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-scrollable">
                        <table wicket:id="processos"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form wicket:id="diagramForm">
        <div wicket:id="diagramModal">
            <div wicket:id="diagram">
                <img wicket:id="image"/>
            </div>
        </div>
    </form>

    <wicket:fragment wicket:id="breadcrumbProcess">
        <li>
            <a href="#">
                <wicket:message key="breadcrumb.flow"/>
            </a><i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#" onclick="window.history.back();">
                <wicket:message key="breadcrumb.flow.process"/>
            </a><i class="fa fa-circle"></i>
        </li>
        <li class="active">
            <wicket:message key="breadcrumb.flow.process.instance"/>
        </li>
    </wicket:fragment>
</wicket:extend>
</html>
