.action-column {
    width:1%;
    white-space:nowrap;
}

@media (min-width: 992px) {
    .modal-belver {
        width: 900px;
    }
}


.page-sidebar-fixed .page-footer {
    margin-left: 0px;
}

.logo-default::before {
    content: url("/singular-static/resources/singular/img/brand.png");
    height: 15px;
    top: 15px;
}