.action-column {
    width:1%;
    white-space:nowrap;
}

@media (min-width: 992px) {
    .modal-belver {
        width: 900px;
    }
}

.logo-default::before {
    content: url("/singular-static/resources/singular/img/brand.png");
    height: 15px;
    top: 15px;
    /*position: absolute;*/
    /*background: transparent url("/singular-static/resources/singular/img/brand.png") no-repeat;*/
    /*width: 109px;*/
}