.page-header.navbar {
    background: #26965C !important;;
}

.page-top{
    background: #26965C !important;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown.open  .dropdown-toggle{
    background: #24844c !important;
    height: 74px;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown > .dropdown-toggle:hover {
    background-color: #24844c !important;
    height: 74px;
}

.page-header.navbar .page-top {
    height: 70px;
}

@media (max-width: 767px) {
    .page-header.navbar {
        background: #26965C ;
        border-bottom: 1px solid #26965C ;
    }
}

.logo-default::before {
    content: "SINGULAR";
    color: #EEE;
    font-size: 24px;
    font-weight: bold;
}

.page-logo > a:hover{
    border: none;
}

.page-header.navbar .page-logo .logo-default {
    margin: 22px auto auto auto;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > .username {
    color: #EEE;
}

a , th {
    color: #26965C;
}

a:hover{
    color: #1c6839;
}

.btn  {
    color: #EEE ;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a, .page-sidebar .page-sidebar-menu > li.active > a {
    border-left: 3px solid #26965C !important;
}

.nav-link , .nav-link > i  {
    color: #26965C !important;
}

.nav-link > span {
    color: #485a6a;
}

.active > a >  span {
    color: #26965C !important;
}

.nav-link > .badge {
    color: #EEE !important;;
}
