.page-header.navbar {
    background: #e74c3c;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown > .dropdown-toggle:hover {
    background-color: #c0392b;
}

.logo-default::before {
    content: url("/showcase/resources/custom/img/red-logo-small.png");
    height: 45px;
    top: 15px;
    /*position: absolute;*/
    /*background: transparent url("/showcase/resources/custom/img/red-logo.png") no-repeat;*/
    /*width: 137px;*/
}