//## Main Layout CSS Builder

@import '../global/_variables'; // global metronic framework variables
@import '../global/components/_mixins'; // global metronic framework mixings
@import '../global/_typhography'; // fonts at project

@import '../layouts/layout4/_variables'; // theme level variables

@import '../layouts/layout4/layout/_print'; // print layout

@import '../layouts/layout4/layout/_header'; // page header
@import '../layouts/layout4/layout/_page-container'; // page main container
@import '../layouts/layout4/layout/_sidebar';  // page sidebar
@import '../layouts/layout4/layout/_content'; // page consnde
@import '../layouts/layout4/layout/_footer';   // page footer
@import '../layouts/layout4/layout/_theme-panel';  // theme customizer panel
@import '../layouts/layout4/layout/_form';

@import '../layouts/quick-sidebar/_quick-sidebar';  // quick sidebar content

/***
Page Loading
***/

.page-on-load {
  background: #fefefe;

  .page-header,
  .page-container,
  .page-footer,
  > .clearfix {
    display: none;
    transition: all 2s;
  }
}

/* Classes para sobrescrever as existentes em outros CSS's */
.page-header.navbar .page-logo .logo-default {
  margin: 22px 10px 0 0;
}

.logo-default::before {
  content: url(../img/logo-anvisa.png) !important;
  height: 33px !important;
  top: 15px;
}

a {
  text-shadow: none;
  color: #518450;
}

a:hover {
  color: #2D522C;
}
h1, h2, h3 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h3 {
  padding: 10px 8px;
  font-size: 14px;
  font-weight: bolder;
  color: #518450;
  background: #dfdfdf;
  text-transform: uppercase;
}

.md-shadow-z-1-i {
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.1), 0 -2px 10px rgba(0, 0, 0, 0.18) !important;
}

.portlet.light {
  padding: 12px 20px 15px 20px;
//background-color: #f5f5f5;
}

.portlet {
  box-shadow: none;
}

.page-head .page-title {
  display: inline-block;
  float: left;
  padding: 10px;
  background: #dfdfdf;
  width: 100%;
  margin-bottom: 20px;
}

.page-head .page-title > h1 {
  color: #518450;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.page-head .page-title > h1 > small {
  color: #90AC8F;
  font-size: 13px;
  font-weight: 400;
  margin-left: 6px;
}

.btn.blue:not(.btn-outline),
.btn.purple:not(.btn-outline),
.btn.red:not(.btn-outline),
.btn.blue:not(.btn-outline):active,
.btn.purple:not(.btn-outline):active,
.btn.red:not(.btn-outline):active,
.btn.blue:not(.btn-outline):active:focus,
.btn.purple:not(.btn-outline):active:focus,
.btn.red:not(.btn-outline):active:focus{
  color: #FFFFFF;
  background-color: #518450;
  border-color: #518450;
}

.btn.blue:not(.btn-outline):hover,
.btn.purple:not(.btn-outline):hover,
.btn.red:not(.btn-outline):hover,
.btn.blue:not(.btn-outline):focus,
.btn.purple:not(.btn-outline):focus,
.btn.red:not(.btn-outline):focus,
.btn.blue:not(.btn-outline):active:hover,
.btn.purple:not(.btn-outline):active:hover,
.btn.red:not(.btn-outline):active:hover{
  color: #ffffff;
  background-color: #7DAB7C;
  border-color: #7DAB7C;
}

/* Classes para sobrescrever padrões de tabela */
.table-hover>tbody>tr:hover,
.table>tbody>tr.active>td,
.table>tbody>tr.active>th,
.table>tbody>tr>td.active,
.table>tbody>tr>th.active,
.table>tfoot>tr.active>td,
.table>tfoot>tr.active>th,
.table>tfoot>tr>td.active,
.table>tfoot>tr>th.active,
.table>thead>tr.active>td,
.table>thead>tr.active>th,
.table>thead>tr>td.active,
.table>thead>tr>th.active {
  background-color: #FFF7CE;
}

thead {
  background: #F2F2F2;
}

thead a {
  color: #333;
}

thead a:hover {
  color: #518450;
  text-decoration: none;
}

table.table-bordered.dataTable td:last-child, table.table-bordered.dataTable td:last-child {
  font-weight: normal;
  color: #808080;
}

.well {
  min-height: 20px;
  margin-bottom: 20px;
  background-color: #f2f2f2;
  border: 1px solid #e9e9e9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

/***********
    Page Header
    ***********/
/* Header search bar, toggler button & top menu */
.page-header.navbar {
  background: #f2f2f2;
  /*border-bottom: 1px solid #e9ecf3;*/
  /* Top notification menu/bar */
  /* Header seaech box */
  /* Menu Toggler */ }
.page-header.navbar .page-logo > .logo-image, .page-header.navbar .page-logo > a {
  display: block;
  float: left;
  color: #518450;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle > .username {
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
}
.page-header.navbar .top-menu .navbar-nav {
  /* Extended Dropdowns */
  /* Notification */
  /* Inbox */
  /* Tasks */
  /* User */
  /* Language */
  /* Dark version */ }