.table > tbody {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.ms-elem-selectable > span::after {
    font: normal normal normal 14px/1 FontAwesome;
    content: '\f0a9' !important;
    float: right;
}

.ms-selected {
    width: inherit;
    text-align: right;
}

.ms-selected > span::before {
    font: normal normal normal 14px/1 FontAwesome;
    content: '\f0a8' !important;
    float: left;
}

.ms-container {
    width: auto;
    background: none !important;
}

.ms-selectable {
    width: 49% !important;
}

.ms-selection {
    width: 49% !important;
}

.cke_dialog {
    z-index: 20000 !important;
}

.cke_maximized {
    z-index: 19999 !important;
}

.default-cursor {
	cursor:default  !important;
}

.cke_panel {
	z-index: 20001 !important;
}

.btn:focus {
    color: #fffffc;
}

.btn-default:focus {
    color: #333;
}

.page-content .form-actions .btn-group .dropdown-menu .btn {
    border-color: #ffffff;
    margin-left: 0px;
    text-align: left;
    float: none;
    width: 100%;
}

.page-content .form-actions .btn-group .dropdown-menu .btn:hover {
    background-color: #f2f2f2;
}

.list-table-body td .singular-remove-btn  {
    top: 5px;
    position: relative;
    background-color: white;
}


.list-table-body td .singular-remove-btn  {
    top: 5px;
    position: relative;
    background-color: white;
}

.singular-tree {
    padding-left: 10px;
    padding-top: 10px;
}
